absl-py==1.2.0
appdirs==1.4.4
appnope==0.1.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
backcall==0.2.0
beautifulsoup4==4.11.2
bidict==0.22.1
blis==0.7.9
blosc2==2.0.0
bokeh==2.3.2
cachetools==5.3.0
cassandra-driver==3.28.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
comm==0.1.2
confection==0.0.4
contourpy==1.0.7
cqlsh==6.1.2
cryptography==39.0.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.33
debugpy==1.6.6
decorator==5.1.1
dill==0.3.6
distlib==0.3.6
dm-sonnet==2.0.0
dm-tree==0.1.8
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
etils==1.0.0
exceptiongroup==1.1.3
executing==1.2.0
ffmpeg-python==0.2.0
ffprobe-python==1.0.3
filelock==3.9.0
Flask==2.2.2
Flask-Cors==3.0.10
Flask-JSGlue==0.3.1
Flask-Script==2.0.6
flatbuffers==1.12
fonttools==4.38.0
frozendict==2.3.5
fsspec==2023.12.0
future==0.18.3
gast==0.4.0
geomet==0.2.1.post1
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.58.0
grpcio==1.51.1
gunicorn==20.1.0
h11==0.14.0
h5py==3.8.0
html5lib==1.1
huggingface-hub==0.19.4
idna==3.4
imageio==2.20.0
importlib-resources==5.10.2
intervaltree==3.1.0
ipykernel==6.21.0
ipython==8.9.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json-tricks==3.16.1
jsonpickle==3.0.1
jupyter_client==8.0.2
jupyter_core==5.2.0
kafka-python==2.0.2
keras==2.9.0
Keras-Preprocessing==1.1.2
keybert==0.7.0
keyphrase-vectorizers==0.0.11
kiwisolver==1.4.4
langcodes==3.3.0
libclang==15.0.6.1
librosa==0.9.2
linkedin-scraper==2.11.2
llvmlite==0.39.1
lxml==4.9.2
lyricsgenius==3.0.1
magenta @ file:///Users/alexto/Documents/ProgrammingProjects/Cloned/magenta
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.6
mdurl==0.1.2
miditoolkit==0.1.16
mido==1.2.6
mir-eval==0.7
more-itertools==9.1.0
msgpack==1.0.4
multitasking==0.0.11
murmurhash==1.0.9
music21==8.1.0
muspy==0.5.0
networkx==3.0
nltk==3.8.1
noisereduce==2.0.1
note-seq==0.0.3
numba==0.56.4
numexpr==2.8.4
numpy==1.21.6
oauthlib==3.2.2
opencv-python==4.7.0.68
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathy==0.10.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2022.12.19
platformdirs==2.6.2
plotly==5.18.0
pooch==1.6.0
preshed==3.0.8
pretty-midi==0.2.9
promise==2.3
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==14.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
pyFluidSynth==1.3.1
Pygments==2.14.0
pygtrie==2.5.0
pyparsing==3.0.9
pypianoroll==1.0.4
PySocks==1.7.1
pyspark==3.4.1
python-dateutil==2.8.2
python-rtmidi==1.4.9
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
quantities==0.14.1
redis==4.5.1
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
resampy==0.4.2
rich==13.3.4
rsa==4.9
safetensors==0.4.1
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.7.3
seaborn==0.12.2
selenium==4.14.0
semantic==1.0.3
sentence-transformers==2.2.2
sentencepiece==0.1.98
six==1.16.0
sk-video==1.1.10
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.11.0
soupsieve==2.4
sox==1.4.1
spacy==3.5.2
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.2.2
SpeechRecognition==3.10.0
spotipy==2.22.1
srsly==2.4.6
stack-data==0.6.2
statsmodels==0.13.5
tables==3.8.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.30.0
tensorflow-metadata==1.12.0
tensorflow-probability==0.17.0
termcolor==2.2.0
tf-slim==1.1.0
thinc==8.1.9
threadpoolctl==3.1.0
tifffile==2023.1.23.1
tk==0.1.0
tokenizers==0.15.0
toml==0.10.2
torch==1.12.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.35.2
trio==0.22.2
trio-websocket==0.11.1
typer==0.7.0
typing_extensions==4.4.0
urllib3==1.26.14
virtualenv==20.19.0
virtualenv-clone==0.5.7
Visual-MIDI==1.1.0
wasabi==1.1.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
Werkzeug==2.2.2
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
xyzservices==2022.9.0
yfinance==0.2.12
zipp==3.12.1
